CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_AUDIO_ENCODER_OPUS_SUPPORT=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_BLINK_LED_STRIP=y
CONFIG_BLINK_LED_STRIP_BACKEND_RMT=y
CONFIG_BLINK_GPIO=48
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_1=y
CONFIG_FIGURE_ENABLE_CONTROL_BUTTONS=y
CONFIG_FIGURE_VOLUME_UP_BUTTON_GPIO=5
CONFIG_FIGURE_VOLUME_UP_ALT_BUTTON_GPIO=1
CONFIG_FIGURE_VOLUME_DOWN_BUTTON_GPIO=14
CONFIG_FIGURE_FUNCTION_BUTTON_GPIO=17
CONFIG_FIGURE_SLEEP_BUTTON_GPIO=18
CONFIG_FIGURE_CONTROL_BUTTON_DEBOUNCE_MS=40
CONFIG_FIGURE_CONTROL_BUTTON_LONG_PRESS_MS=1500
